@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <i class="fa fa-home"> &nbsp;Trang quản trị </i>
    <h2>Chào mừng bạn đến với trang quản trị</h2>
    <div>
        <img src="~/Assets/Admin/images/shop.jpg" style="height :369px;" width="1200px;" />
    </div>
}
