@model TestUngDung.Areas.Admin.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="~/Assets/Admin/images/favicon.png">
    <title>Login</title>
    <!--Core CSS -->
    <link href="~/Assets/Admin/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Assets/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/style-responsive.css" rel="stylesheet" />
    <style>
        .khung {
            max-width: 600px;
            border-radius: 10px;
            margin-top: 70px;
            margin-left: 350px;
            border: 1px solid;
            background-color: #ffffff;
        }

        .hd {
            color: red;
            margin-bottom: 40px;
        }

        .lb {
            color: black;
        }
    </style>
</head>
<body class="body-404">
    @using (Html.BeginForm())
    {
        <div class="khung mt-md-5 ">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
            <h3 class="hd text-center">Trang đăng nhập</h3>
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Assets/Admin/images/Logo-1.jpg" />
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="lb">Tên đăng nhập</label>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Mời nhập tên đăng nhập", @autofocus = "autofocus" })
                    </div>
                    <div class="form-group">
                        <label class="lb">Mật khẩu</label>
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Mời nhập mật khẩu", type = "password" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block" type="submit">Đăng nhập</button>
                    </div>
                </div>
            </div>

        </div>
    }
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="~/Assets/Admin/js/jquery.js"></script>
    <script src="~/Assets/Admin/bs3/js/bootstrap.min.js"></script>
</body>
</html>
